body {
    background: #f2f0f1
}

.login__wrapper {
    font-family: Lato, sans-serif;
}

.login__title, .form__title {
    color: #000e7e;
}

.login__subtitle {
    color: grey;
}

.form__wrapper {
    display: table-caption;
}

.form__password {
    display: inline-flex
}
