body {
    background: #f2f0f1
}

.text-success {
    color: #000e7e;
}

.text-muted {
    color: #666666;
}

.all-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.login__wrapper {
    font-family: Lato, sans-serif;
    margin-top: 2em;
    margin-left: 5em;
}

    .login__wrapper .form .form__wrapper {
        display: table-caption;
    }

    .login__wrapper .form .form__title {
        font-weight: 700;
        margin-bottom: 1em;
    }

    .login__wrapper .form .form__input {
        width: 25em;
        height: 2em;
        border-radius: 5px;
        border: #ccc solid 1px;
        margin: 1em 0 1.25em 0;
    }

    .login__wrapper .form .form__password {
        display: inline-flex
    }

        .login__wrapper .form .form__password .fas {
            margin: 1.25em 0 0 0.5em;
            color: #000e7e;
        }

    .login__wrapper .form .btn__submit {
        background: #000e7e;
        color: #ffffff;
        border-radius: 70px;
        width: 150px;
        padding: 10px;
        border: none;
        font-size: 1em;
    }

        .login__wrapper .form .btn__submit:hover {
            background: rgb(0, 14, 126, 0.85);
        }